body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

hr{
    width: 80%;
}

h2{
    font-size: 20px;
}

.about-items{
    display: flex;
    margin: 30px auto;
    flex-wrap: wrap;
    align-items: center;
}

.who-we-are, .our-mission, .our-vision{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    margin: 30px auto;
    padding: 35px 15px;
    border-radius: 15px;
    text-align: center;
    min-width: 250px;
}

.who-we-are{
    height: 250px;
    height: 250px;
    box-shadow: 0 15px 15px rgb(184, 71, 212);
    background: rgb(186, 58, 197);
}

.our-mission{
    height: 250px;
    box-shadow: 0 15px 15px rgb(175, 120, 180);
    background: rgb(232, 95, 245);
}

.our-vision{
    height: 250px;
    box-shadow: 0 15px 15px rgb(184, 71, 212);
    background: rgb(186, 58, 197);
}

.read{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

.read:hover{
    background: #fff;
    color: #333;
}